@import '~bulma';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

$primary: #3273dc;

.is-primary {
  color: $primary;
}

.search {
  max-width: 300px;
}

.is-plus {
  cursor: pointer;
  padding: 5px !important;
  font-weight: bold;
  height: 20px !important;

  &:hover {
    opacity: 0.9;
  }
}
