// fonts
@import url("https://fonts.googleapis.com/css?family=Poppins:600,700&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap&subset=latin-ext");
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

// library
@import '~bulma';

//common
@import "common/functions";
@import "common/variables";
@import "common/animations";
@import "common/mixins";
@import "common/helpers";
@import "common/global";
@import "common/typography";

// components
@import "components/button";
@import "components/panels";
@import "components/table";
@import "components/form";

// layouts
@import "layouts/sidebar";
@import "layouts/nav";
@import "layouts/main";

$primary: #3273dc;

.is-primary {
  color: $primary;
}

.search {
  max-width: 300px;
}

.is-plus {
  cursor: pointer;
  padding: 5px !important;
  font-weight: bold;
  height: 20px !important;

  &:hover {
    opacity: 0.9;
  }
}
