// colors
$primary: #344182;
$secondary: #00b7ff;
$bg: #f3f7f9;
$white: #fff;
$black: #000;

// fonts
$font-main: "Open Sans", sans-serif;
$font-title: "Poppins", serif;

// font weight
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$bold-black: 900;

// layout
$gutter: 10px;
$shadow: 2px 5px 25px rgba($black, 0.06);

// animation
$transition: 0.3s;
